[General]
config= ./
ped: D:/OneDrive - The University of Queensland/PhD/data/sugarcane_sim_recombination/data/sugarcane_sim_allele
pheno= D:/OneDrive - The University of Queensland/PhD/data/sugarcane_sim_recombination/data/sugarcane_sim_diploid.ex.ml.phen
mpheno= 1
index=D:/OneDrive - The University of Queensland/PhD/data/sugarcane_sim_recombination/data/sugarcane_sim_diploid.index
vindex= 1
include=
exclude=
annotation=
output= D:/OneDrive - The University of Queensland/PhD/HPC_Results/sugarcane_sim/LocalTestCNN/
trait= smut
maf= 0.0
ploidy= 2

[Task Options]
build: True
analysis= True
predict= False

[Model Options]
model= Numeric CNN
width= 256
depth= 4
load=
data_type= numerous
round= 1
lr= 0.001
epoch= 30
num_heads= 1
activation= leaky_relu
embedding= 16
locallyConnect=16
locallyBlock=10
AttentionBlock=1
batch=64
loss=mse
rank=
quiet=1
plot=
epistatic=
addNorm=
mafm=
residual=
save= False
mean=

