
data/FashionMNIST/raw/t10k-images-idx3-ubyte
data/FashionMNIST/raw/t10k-images-idx3-ubyte.gz
data/FashionMNIST/raw/t10k-labels-idx1-ubyte
data/FashionMNIST/raw/t10k-labels-idx1-ubyte.gz
data/FashionMNIST/raw/train-images-idx3-ubyte.gz
data/FashionMNIST/raw/train-images-idx3-ubyte
data/FashionMNIST/raw/train-labels-idx1-ubyte
data/FashionMNIST/raw/train-labels-idx1-ubyte.gz
model.pth
genos_SelTools.txt.zip
*.xml
*.iml
*.pyc
*.pyc
.idea/misc.xml
.idea/PHD_Notebook.iml
__pycache__/Functions.cpython-37.pyc
__pycache__/GSModel.cpython-37.pyc
*.pyc
.idea/misc.xml
.idea/PHD_Notebook.iml
*.pyc
*.pyc
*.pyc
__pycache__/Functions.cpython-37.pyc
*.pyc
My EndNote Library.Data/sdb/sdb.eni
My EndNote Library.enl
My EndNote Library.Data/sdb/sdb.eni
My EndNote Library.enl
My EndNote Library.Data/sdb/sdb.eni
